- if @approvals.blank?
  .no-records
    No approvals found.
- else
  .records_header
    .page_entries_info
      = page_entries_info @approvals, :entry_name => "record"
    = will_paginate @approvals

  - current_year = current_ctsa_reporting_year
  %table.records
    %tr
      %th Select
      %th Reporting Years
      %th Type
      %th
        = order @search, :by => :person_last_name, :as => "Person"
      %th
        = order @search, :by => :tracking_number, :as => "Tracking Number"
      %th
        = order @search, :by => :institution, :as => "Institution"
      %th
        = order @search, :by => :project_title, :as => "Project Title"
      %th Approval Date
    - @approvals.each do |approval|
      %tr{ :class => cycle('even_record', 'odd_record') }
        %td
          = link_to "Select", person_approvals_path(approval.person), { :class => "edit_link icon_link" }
        %td= h approval.approval_type
        %td= h approval.ctsa_reporting_years.blank? ? "n/a" : approval.ctsa_reporting_years.join(",")
        %td= h approval.person
        %td= h approval.tracking_number
        %td= h approval.institution
        %td= h approval.project_title
        %td= h approval.formatted_approval_date
  = will_paginate @approvals
