
- if services.empty?
  .no_records No services were found.
- else
  .records_header
    .page_entries_info
      = page_entries_info services
    = will_paginate services
  %table{ :class => "records pending_services" }
    %tr
      %th Select
      %th= order @search, :by => :person_last_name, :as => "Investigator", :params => {:page => params[:page], :completed => params[:completed]}
      %th= order @search, :by => :service_line_name, :as => "Service Line", :params => {:page => params[:page], :completed => params[:completed]}
      %th= order @search, :by => :service_line_organizational_unit_name, :as => "Organizational Unit", :params => {:page => params[:page], :completed => params[:completed]}
      %th
    - services.each do |svc|
      %tr{ :class => cycle('even_record', 'odd_record') }
        %td
          - action = svc.state.to_s == "completed" ? "edit" : "continue"
          = link_to "Select", :controller => "services", :action => action, :id => svc
          %span.hide
            = svc.state.titleize
            %br
            = svc.created_at.to_s
        %td= svc.person
        %td= svc.service_line
        %td= svc.service_line.organizational_unit.abbreviation if svc.service_line
        %td= link_to 'Delete', service_path(svc, :search => params[:search]), :confirm => 'Are you sure?', :method => :delete, :class => "delete_link icon_link"

  = will_paginate services