
- if services.empty?
  .no_records No services were found.
- else
  .records_header
    .page_entries_info
      = page_entries_info services
    = will_paginate services
  %table{ :class => "records pending_services" }
    %tr
      %th Select
      %th= order @search, :by => :state, :as => "Status", :params => {:page => params[:page]}
      %th= order @search, :by => :person_last_name, :as => "Investigator", :params => {:page => params[:page]}
      %th= order @search, :by => :service_line_name, :as => "Service Line", :params => {:page => params[:page]}
      %th= order @search, :by => :service_line_organizational_unit_name, :as => "Organizational Unit", :params => {:page => params[:page]}
      %th
    - services.each do |svc|
      %tr{:class => cycle('even_record', 'odd_record')}
        %td= link_to "Select", :controller => "services", :action => "continue", :id => svc
        %td= svc.state.titleize
        %td= svc.person
        %td= svc.service_line
        %td= svc.service_line.organizational_unit.abbreviation if svc.service_line
        %td= link_to 'Delete', service_path(svc, :search => params[:search]), :confirm => 'Are you sure?', :method => :delete, :class => "delete_link icon_link"

  = will_paginate services