.service_menu

  .status_bar
    - if @service.blank?
      - 7.times do |x|
        .span-4
          %div{ :class => "index #{'active' if x == 0}"}
            = x + 1
    - else
      .span-4
        %div{ :class => "index" }
          1
      .span-4
        %div{ :class => "index #{'active' if action_name == 'choose_service_line'}" }
          2
      .span-4
        %div{ :class => "index #{'active' if action_name == 'edit'}" }
          3
      .span-4
        %div{ :class => "index #{'active' if action_name == 'choose_awards'}" }
          4
      .span-4
        %div{ :class => "index #{'active' if action_name == 'choose_publications'}" }
          5
      .span-4
        %div{ :class => "index #{'active' if action_name == 'choose_approvals'}" }
          6
      .span-4
        %div{ :class => "index #{'active' if action_name == 'choose_organizational_units'}" }
          7
  .clear
  .service_task
    - if @service.blank?
      .span-4
        %h4
          Select Investigator
    - else
      .span-4
        Select Investigator
      .span-4
        = link_to "Choose Service Line", choose_service_line_service_path(@service)
      .span-4
        = link_to "Update Profile", edit_service_path(@service)
      .span-4
        = link_to "Link Awards", choose_awards_service_path(@service)
      .span-4
        = link_to "Link Publications", choose_publications_service_path(@service)
      .span-4
        = link_to "Link Study", choose_approvals_service_path(@service)
      .span-4
        = link_to "Choose Centers", choose_organizational_units_service_path(@service)
    
.clear
= render "/services/service_header" if @service and @service.service_line

