.page_section
  - form_for @search, :url => {:controller => "services", :action => "index", :method => :get}, :html => {:class => "services_search_form"} do |f|
    .span-10
      %p
        = f.label "organizational_unit_id_equals", "Organizational Unit"
        %br
        = f.select(:organizational_unit_id_equals, @user_organizational_units.sort_by{|e| e.name}.map{|u| [u.to_s, u.id.to_s]}, { :include_blank => "-- Select Organizational Unit --" })
      %p
        = f.label "service_line_name_like", "Service Line"
        %br
        = f.text_field :service_line_name_like
    .span-8
      %p
        = f.label "person_first_name_like", "First Name"
        %br
        = f.text_field :person_first_name_like
      %p
        = f.label "person_last_name_like", "Last Name"
        %br
        = f.text_field :person_last_name_like
    .buttons
      = f.submit "Submit", :disable_with => 'Submitting...'