- stylesheet "services"
- title "New Service - Choose Awards"

%p
  = @service.state

%p
  = @service.person.employeeid
  
= render '/awards/list', :service => @service, :awards => @awards, :person => @service.person, :search_params => @search_params

- form_for @service do |f|
  = hidden_field_tag "service[state]", "choose_publications"
  = f.submit "Continue", :disable_with => 'Continuing...'


#modal_window