- title "New Service - Branching Question"
- stylesheet "services"

.page_section
  - form_for @service, :url => { :action => "identified" } do |f|

    .service_question
      Did this service result in any awards, publications, presentations, honors, or studies for the investigator?

    .choices
      = f.radio_button :state, :choose_awards
      = f.label :state_choose_awards, "Yes"
      %br
      = f.radio_button :state, :choose_organizational_units
      = f.label :state_choose_organizational_units, "No"
  
    .buttons
      = f.submit "Continue"
