- title "Create Service"

:javascript
  $(document).ready(function() {
    $(".help_icon").tooltip();
  });

.page_section
  %p 
    In order to initiate a service you must first choose the client or the service line.
  %p
    Please select one of these options below.
  
  %p
    %ul
      %li
        = link_to "Choose Investigator", choose_person_services_path
        %span{ :class => "help_icon" }
          &nbsp;
        = render "choose_client_tooltip"
      %li
        = link_to "Choose Service Line", choose_service_line_services_path
        %span{ :class => "help_icon" }
          &nbsp;
        = render "choose_service_line_tooltip"

.page_section
  .records_header
    Services In Process
  = render 'list', { :services => @pending_services }
