- stylesheet "services"
- title "New Service - Choose Organizational Units"

= render "menu"

%p
  This service is ready to be surveyed. To edit #{@service.person} choose one of the links above.

%p
  #surveyor
    #survey_list
      %ul
        %li
          - form_tag(:controller => :services, :action => :survey, :id => @service, :survey_code => @survey.access_code) do 
            = @survey.title
            &nbsp;
            = submit_tag( t ('surveyor.take_it') )

%p
  At this point you can:
  %ul
    %li
      = link_to "Create a new service", new_service_path
    %li
      = link_to "View Services", services_path
    %li
      = link_to "Edit client information", people_path