- title "Services for #{@organizational_unit.to_s}"

#select_organizational_unit_form
- form_tag :controller => "services", :action => "view_all" do

  %p
    = label_tag "organizational_unit_id", "Organizational Unit"
    %br
    = select_tag(:organizational_unit_id, options_for_select(OrganizationalUnit.all.sort_by{|e| e.name}.map{|u| [u.to_s, u.id]}, @organizational_unit.id))
  .buttons
    = submit_tag "Submit", :disable_with => 'Submitting...'

= render 'list', { :services => @services, :header => "Services for #{@organizational_unit.to_s}" }