%tr.attachment.fields
  %td
    = f.select(:name, Attachment::CTSA_ATTACHMENTS.map { |name| [ name.titleize, name ] }, { :include_blank => "-- Select Attachment Name --" })
  %td
    = f.text_field :reporting_year
  %td
    %em= f.object.data_file_name
  %td
    = f.file_field :data
  %td
    = link_to_remove_fields 'Remove', f