- form_for @ctsa_report, :html => { :multipart => true } do |f|
  
  %p
    = f.label :grant_number, "Grant Number"
    %br
    = f.text_field :grant_number
  
  %p
    = f.label :reporting_year, "Reporting Year"
    %br
    = f.text_field :reporting_year
  
  %p
    = f.check_box :finalized
    = f.label :finalized, "Finalized?"
    
  %p
    = f.check_box :has_errors
    = f.label :has_errors, "Has Errors?"
  
    %table{ :class => "records documents" }
      %thead
        %tr
          %th
            Document Name
          %th
            Reporting Year
          %th
            File Upload
          %th
      %tbody{ :class => "nested_records" }
        - f.fields_for :documents do |document_form|
          = render 'document_fields', :f => document_form
      %tfoot
        %tr
          %td{ :colspan => '3' }
            = link_to_add_fields "Add", f, :documents
  
  .buttons
    = submit_tag "Generate Report"