%h3
  CTSA Report Summary for #{current_ctsa_reporting_year}

.span-24
  .span-8
    = link_to "Investigators: #{@investigators.size}", people_path({:search => {:for_reporting_year=>"#{current_ctsa_reporting_year}"}})
  .span-8
    &nbsp;
.span-24
  .span-8
    = link_to "Awards: #{@awards.size}", search_awards_path({:search => {:all_for_reporting_year=>"#{current_ctsa_reporting_year}"}})
  .span-8
    = link_to "Publications: #{@publications.size}", search_publications_path({:search => {:all_for_reporting_year=>"#{current_ctsa_reporting_year}"}})
.clear