- stylesheet "people"
- title "Edit Profile"

:javascript
  $(document).ready(function() {
    $(".help_icon").tooltip();
  });

- unless @person.organizational_units.blank?
  .organizational_units
    #{@person} has worked with #{@person.organizational_units.to_sentence}.

.page_section
  = render 'form'

.links
  = link_to 'List All Clients', people_path, :class => "list_link icon_link" if current_user.permit?(:Admin, :User)
  = link_to 'Edit Awards', person_awards_path(@person), :class => "edit_link icon_link"
  = link_to 'Edit Publications', person_publications_path(@person), :class => "edit_link icon_link"
  = link_to 'View Services', person_services_path(@person), :class => "show_link icon_link" unless @person.services.blank?
  = link_to "Add to service line", { :controller => "services", :action => "create_service_for_person", :person_id => @person.id }, :method => :post, :class => "add_link icon_link"