- stylesheet "people"
- title "Search ERA Commons Username"

.page_section

  %p
    The Office of Sponsored Research has provided a list of ERA Commons Usernames known to them. 
    This is by no means a complete list of ERA Commons Usernames and is not a search of all ERA Commons Usernames.
    We provide this as a service to lookup ERA Commons Usernames for Investigators with whom you've worked.

  %p
    = render '/people/electronic_research_administration'

  %p
    If you attempt a search by name, we require both the first AND last name of the investigator.


  .era_commons_username_search_form
    - form_tag do

      .span-5
        = label_tag :first_name, "First Name and"
        %br
        = text_field_tag :first_name, params[:first_name]
  
      .span-5
        = label_tag :last_name, "Last Name"
        %br
        = text_field_tag :last_name, params[:last_name]
  
      .span-24
        %p
          = label_tag :employeeid, "Employee ID"
          %br
          = text_field_tag :employeeid, params[:employeeid]
  
        %p
          = label_tag :netid, "NetID"
          %br
          = text_field_tag :netid, params[:netid]
  
      .buttons
        = submit_tag "Search", :disable_with => 'Searching...'
      
      
- if @era_commons_usernames
  .page_section
    - if @era_commons_usernames.blank?
      %p.no_records
        No ERA Common Username found for the entered criteria.
    - else
      %h4
        ERA Commons Usernames Found:
      %ul
        - @era_commons_usernames.each do |eracn|
          %li 
            = eracn
    

.links
  = link_to 'List all Investigators', people_path, :class => "list_link icon_link" if current_user.permit?(:Admin, :User)