- title "Search Results"

- if @people.blank?
  .no_records.page_section
    No one was found with the entered criteria. 
- else
  %table.records
    %tr
      %th Add to Service Line
      %th Last Name
      %th First Name
      %th Middle Name
      %th Email
      %th Net ID
      %th NU Employee ID
    - @people.each do |person|
      %tr{ :class => cycle('even_record', 'odd_record') }
        %td
          = link_to "Add to service line", { :controller => "services", :action => "create_service_for_person", :person_id => person.id }, :method => :post, :class => "add_link icon_link"
        %td= h person.last_name
        %td= h person.first_name
        %td= h person.middle_name
        %td= h person.email
        %td= h person.netid
        %td= h person.employeeid

.links
  = link_to "New Search", {:controller => "people", :action => "search"}, { :class => "search_link icon_link" }
  = link_to "View All Records", {:controller => "people", :action => "index"}, { :class => "list_link icon_link" }
  - person_params = @people.blank? ? {:netid => params[:netid], :last_name => params[:last_name]} : {}
  = link_to "Add New Record", {:controller => "people", :action => "new", :person => person_params }, { :class => "add_link icon_link" }
