- title "Person Search Results"

- if @people.blank?
  .no_records
    No one was found. 
- else
  %table.records
    %tr
      %th Select
      %th Last Name
      %th First Name
      %th Middle Name
      %th Email
      %th Net ID
      %th NU Employee ID
    - @people.each do |person|
      %tr{ :class => cycle('even_record', 'odd_record') }
        %td= link_to "Edit", edit_person_path(person), :class => "edit_link icon_link"
        %td= h person.last_name
        %td= h person.first_name
        %td= h person.middle_name
        %td= h person.email
        %td= h person.netid
        %td= h person.employeeid

.links
  = link_to "New Search", {:controller => "people", :action => "search"}, { :class => "search_link icon_link"  }
  = link_to "View All Clients", {:controller => "people", :action => "index"}, { :class => "list_link icon_link"  }
