- stylesheet "people"
- title "Faculty Search"

- form_tag "/people/search_results", :class => "faculty_search" do
  
  %p Search Faculty Members by Net ID or by Last Name.
  
  = hidden_field_tag :organizational_unit_id, @organizational_unit_id
  
  %p
    = label_tag :netid, "Net ID"
    %br
    = text_field_tag :netid
  
  %p
    = label_tag :last_name, "Last Name"
    %br
    = text_field_tag :last_name
  
  .buttons
    = submit_tag "Search", :disable_with => 'Searching...'
