- title "Versions - Person"

- if @person.versions.blank?
  .no_records No versions were found for #{@person}.
- else
  %p.version
    Below are the changes for #{@person}.
  %table{ :class => "records" }
    %tr
      %th Revert
      %th View
      %th When
      %th Who
      %th First Name
      %th Last Name
      %th Net ID
      %th Employee ID
      %th Email
      %th ERA Commons Username
      %th SSN (last four)
    - @person.versions.each do |version|
      - if version.object
        - attrs = YAML::load version.object
        %tr{ :class => cycle('even_record', 'odd_record') }
          %td= link_to 'Revert', revert_person_path(@person, :version_id => version.id), :class => "edit_link icon_link", :method => :post
          %td= link_to 'View', version_person_path(@person, :version_id => version.id), :class => "show_link icon_link"
          %td= version.created_at.to_s(:db)
          %td= version.whodunnit
          %td= h attrs["first_name"]
          %td= h attrs["last_name"]
          %td= h attrs["netid"]
          %td= h attrs["employeeid"]
          %td= h attrs["email"]
          %td= h attrs["era_commons_username"]
          %td= h attrs["last_four_of_ssn"]
    %tr{ :class => 'current_record' }
      %td{ :colspan => '2' }
        = link_to 'Edit', edit_person_path(@person), :class => "edit_link icon_link"
      %td Current Version
      %td &nbsp;
      %td= h @person.first_name
      %td= h @person.last_name
      %td= h @person.netid
      %td= h @person.employeeid
      %td= h @person.email
      %td= h @person.era_commons_username
      %td= h @person.last_four_of_ssn

.links
  = link_to 'List All Recordss', people_path, :class => "list_link icon_link"
  = link_to 'Export CSV', versions_person_path(@person, :export => "true"), :class => "export_link icon_link"