#publications
  - if person.netid.blank?
    .notice
      Publications are culled from Lattice Grid by the netid. #{person} is missing a netid.
      = link_to "Update #{person}.", edit_person_path(person), :class => "edit_link icon_link"

  - if service
    - ordering_params = { :controller => "services", :action => "choose_publications", :id => service.id, :view_all => params[:view_all] }
    - pub_association = { :service_id => service.id }
  - else 
    - ordering_params = { :controller => "publications", :action => "index", :person_id => person.id, :view_all => params[:view_all] }
    - pub_association = { :person_id => person.id }

  .publications_body
    .records_header
      = link_to "Add New Publication", { :controller => "/publications", :action => "new", :search => @search_params, :person_id => person.id }.merge(pub_association), { :class => "edit_modal_form_link add_link icon_link", :onclick => "return edit_modal_form(this)" }
      - if service.nil?
        - if params[:view_all].blank?
          = link_to 'View All Publications', person_publications_path(person, :view_all => true), :class => "list_link icon_link" 
        - else
          = link_to "View Publications since #{SYSTEM_CONFIG['ctsa_base_line_year']}", person_publications_path(person), :class => "list_link icon_link" 

    - if publications
      = render 'publications/publications_table', { :ordering_params => ordering_params, :pub_association => pub_association }
        