- stylesheet "people", "publications", "services"
- javascript "jquery.blockUI", "modal_form"
- title_text = params[:view_all].blank? ? "Publications since #{SYSTEM_CONFIG['ctsa_base_line_year']} for #{@person}" : "All Publications for #{@person}"
- title title_text

:javascript
  $(function () { $(".datepicker").live('mouseover', function() { $(this).datepicker(); }); });

= render "/people/client_menu"

.page_section
  = render '/publications/list', :publications => @publications, :person => @person, :search => @search_params, :service => nil

#modal_window