#banner_menu.ddsmoothmenu
  %ul
    %li= link_to "Home", root_path
    - if current_user.permit?(:Admin, :User)
      %li
        = link_to "Services", :controller => "services", :action => "new" 
        %ul
          %li= link_to "My Services", :controller => "services", :action => "new" 
          %li= link_to "View All", :controller => "services", :action => "index" 
    - if current_user and current_user.permit?(:Admin)
      %li
        %a{ :href => "#" }
          Administrative Actions
        %ul
          %li
            = link_to "Clients", people_path
            %ul
              %li= link_to "Upload Investigators", upload_people_path
              %li= link_to "Search FSM Faculty Database", search_people_path
              %li= link_to "Contact Lists", contacts_path
              %li
                %a{ :href => "#" }
                  Incomplete Records
                %ul
                  %li= link_to "Missing Employee ID",      :controller => "people", :action => "incomplete", :criteria => "employeeid"
                  %li= link_to "Missing Net ID",           :controller => "people", :action => "incomplete", :criteria => "netid"
                  %li= link_to "Missing ERA Commons Name", :controller => "people", :action => "incomplete", :criteria => "era_commons_username"
                  %li= link_to "Missing Specialty",        :controller => "people", :action => "incomplete", :criteria => "specialty"
          %li= link_to "Users",                :controller => "users",                :action => "index"
          %li= link_to "Organizational Units", :controller => "organizational_units", :action => "index"
          %li= link_to "Service Lines",        :controller => "service_lines",        :action => "index"
          %li= link_to "CTSA Data",            :controller => "admin",                :action => "view_ctsa_data"
          %li
            = link_to "Reports",              :controller => "reports",              :action => "index"
            %ul
              %li= link_to "CTSA Report", ctsa_reports_path
              %li= link_to "Incomplete Awards", incomplete_awards_path
              %li= link_to "Incomplete Publications", incomplete_publications_path
    %li= link_to "Logout", "#{cc_prefix_path}/logout"