#banner_menu.ddsmoothmenu
  %ul
    %li= link_to "Home", root_path
    %li= link_to "Services", :controller => "services", :action => "new" if current_user.permit?(:Admin, :User)
    - if current_user and current_user.permit?(:Admin)
      %li
        %a{ :href => "#" }
          Administrative Actions
        %ul
          %li= link_to "Clients",              :controller => "people",               :action => "index"
          %li= link_to "Users",                :controller => "users",                :action => "index"
          %li= link_to "Organizational Units", :controller => "organizational_units", :action => "index"
          %li= link_to "Service Lines",        :controller => "service_lines",        :action => "index"
          %li= link_to "CTSA Data",            :controller => "admin",                :action => "view_ctsa_data"
          %li= link_to "Reports",              :controller => "reports",              :action => "index"
    %li= link_to "Logout", "/logout"