- stylesheet "welcome"
- title "Welcome to clearcats!"

:javascript
  $(document).ready(function() {
    $(".help_icon").tooltip();
  });

.welcome

  - if @person
    %p.hello
      Please edit your information. Thank you!
  
    .front_page_section
      %h3
        = link_to "Edit Profile", edit_person_path(@person)
    .front_page_section
      %h3
        = link_to "Edit Awards", person_awards_path(@person)
    .front_page_section
      %h3
        = link_to "Edit Publications", person_publications_path(@person)
    .front_page_section
      %h3
        = link_to "Edit Regulatory Approvals and Technical Transfer", person_approvals_path(@person)
    
  - else
    %p.hello
      Unfortunately we cannot find your record at this time. 
      %br
      - email = encode_email("tylersmith@northwestern.edu")
      Please contact 
      = mail_to email, "Tyler Smith <#{email}>"
      to report this problem. Thank you.