- title "welcome"

:javascript
  $(document).ready(function() {
    $(".help_icon").tooltip();
  });

.welcome
  %h2
    - if @person
      = "#{@person.to_s} :: "
    Welcome to clearCATS!

  - if current_user
    - if current_user.permit?(:Admin, :User)
      .page_section.span-12
        %h3 
          User Actions
        %p
          The following are the actions taken to enter data into the application.
        %ul
          %li
            = link_to "Upload Investigators File", upload_people_path
            %span{ :class => "help_icon" }
              &nbsp;
            = render "/people/upload_import_file_tooltip"
          %li
            = link_to "Search for Investigator", search_people_path
          %li
            = link_to "Add Investigator", new_person_path
            %span{ :class => "help_icon" }
              &nbsp;
            = render "add_investigator_tooltip"
          %li.hide
            = link_to "Initiate Service", :controller => "services", :action => "new"
            %span{ :class => "help_icon" }
              &nbsp;
            = render "initiate_service_tooltip"
    
    
    - if current_user.permit?(:Admin)
      .page_section.span-12.last
        %h3 
          Center Manager Actions
        %p
          As a member of the CTSA Center, you should ensure that the system data is 
          consistent with the information used by your center. Data such as the abbreviation used
          by your center or the service lines you provide.
        %ul#organizational_unit_administrator_actions
          %li= link_to "Manage Organizational Units", :controller => "organizational_units", :action => "index"
          %li= link_to "Manage Service Lines", :controller => "service_lines", :action => "index"            
            
    - if @person and @person.type == "Client"
      .page_section.span-12 
        %h3 
          Profile for #{@person}
        %ul
          %li
            = link_to "Edit My Profile", edit_person_path(@person)
            %span{ :class => "help_icon" }
              &nbsp;
            = render "edit_profile_tooltip"
    - if current_user.permit?(:Admin)
      - if @person and @person.sysadmin?
        .page_section.span-12.last
          %h3 
            System Administrative Actions
          %p
            The following are actions to be performed by the System Administrators.
            These are actions that should be performed rarely, so act with caution when managing users or uploading CTSA data.
          %ul#administrative_actions
            %li= link_to "Manage Users", :controller => "users", :action => "index"
            %li= link_to "Upload CTSA Data", :controller => "admin", :action => "upload_ctsa_data"
            %li= link_to "View CTSA Data", {:controller => "admin", :action => "view_ctsa_data"}