- title "Activity Types"
- if @activity_types.blank?
  %p.no_records
    No activity types were found.
- else
  %table.records
    %tr
      %th Name
      %th Service line
      %th{:colspan => "2"}
    - @activity_types.each do |activity_type|
      %tr
        %td= h activity_type.name
        %td= h activity_type.service_line
        %td= link_to 'Edit', edit_activity_type_path(activity_type), :class => "edit_link icon_link"
        %td= link_to 'Delete', activity_type, :confirm => 'Are you sure?', :method => :delete, :class => "delete_link icon_link"
.links
  = link_to 'New Activity Type', new_activity_type_path, :class => "add_link icon_link"
