- stylesheet "service_lines"

- if @user_organizational_units.blank?
  - title "All Service Lines"
- elsif params[:search] and params[:search][:organizational_unit_id_eq].blank?
  - if @user_organizational_units.size == 1
    - title "Service Lines for #{@user_organizational_units.map(&:to_s).to_sentence}"
  - else
    - title "Service Lines"
    = @user_organizational_units.map(&:to_s).to_sentence
- else
  - title "Service Lines for #{OrganizationalUnit.find(params[:search][:organizational_unit_id_eq])}"

- if @user_organizational_units.size > 1
  .page_section
    - form_for @search, :url => {:controller => "service_lines", :action => "index", :method => :get}, :html => {:class => "service_line_search_form"} do |f|
      %p
        = f.label "organizational_unit_id_equals", "Organizational Unit"
        - opts = [["-- Select Organizational Unit --",  ""]] + @user_organizational_units.sort_by{|e| e.name}.map{|u| [u.to_s, u.id]}
        = select_tag("search[organizational_unit_id_eq]", options_for_select(opts, params[:search][:organizational_unit_id_eq].to_i))
        = f.submit "Submit", :disable_with => 'Submitting...'

- if @service_lines.blank?
  %p.no_records
    No service lines were found.
- else
  %table.records
    %tr
      %th= order @search, :by => :name, :as => "Name"
      %th= order @search, :by => :organizational_unit_name, :as => "Organizational Unit"
      %th{ :colspan => '2' }
    - @service_lines.each do |service_line|
      - cls = cycle('even_record', 'odd_record')
      - show_cls = "svc_line_#{service_line.id}_activity_types_show"
      - hide_cls = "svc_line_#{service_line.id}_activity_types_hide"
      %tr{ :class => cls }
        %td
          - if !service_line.activity_types.empty?
            = image_tag("bullet_toggle_plus.png", :onclick => "$('.#{show_cls}').show(); $('.#{hide_cls}').hide();", :class => "#{hide_cls}")
            = image_tag("bullet_toggle_minus.png", :onclick => "$('.#{show_cls}').hide(); $('.#{hide_cls}').show();", :class => "#{show_cls}", :style => "display: none;")
          = h service_line.name
        %td= h service_line.organizational_unit
        %td= link_to 'Edit', edit_service_line_path(service_line), :class => "edit_link icon_link"
        %td
          - if service_line.services.blank?
            = link_to 'Delete', service_line, :confirm => 'Are you sure?', :method => :delete, :class => "delete_link icon_link"
      - if !service_line.activity_types.empty?
        %tr{ :class => "#{show_cls} #{cls} sub_row_#{cls}", :style => "display:none" }
          %td{ :colspan => '4' }
            %b Activities
            %ul
              - service_line.activity_types.each do |activity_type|
                %li
                  = h activity_type.to_s
.links
  = link_to 'New Service Line', new_service_line_path, :class => "add_link icon_link"