- title "Service Lines"

- if @user_organizational_units.blank?
  %h3 
    All Service Lines
- else
  %h3
    Service Lines for #{@user_organizational_units.map(&:to_s).to_sentence}

- if @service_lines.blank?
  %p.no_records
    No service lines were found.
- else
  %table.records
    %tr
      %th= order @search, :by => :name, :as => "Name"
      %th= order @search, :by => :organizational_unit_name, :as => "Organizational Unit"
      %th{ :colspan => '3' }
    - @service_lines.each do |service_line|
      %tr{ :class => cycle('even_record', 'odd_record') }
        %td= h service_line.name
        %td= h service_line.organizational_unit
        %td= link_to 'Show', service_line, :class => "show_link icon_link"
        %td= link_to 'Edit', edit_service_line_path(service_line), :class => "edit_link icon_link"
        %td
          - if service_line.services.blank?
            = link_to 'Destroy', service_line, :confirm => 'Are you sure?', :method => :delete, :class => "delete_link icon_link"
.links
  = link_to 'New Service Line', new_service_line_path, :class => "add_link icon_link"