- stylesheet "contacts"
- title "Contact - LDAP Record"

.page_section
  
  .ldap_schema_link
    = link_to "What Do These Fields Mean?", "http://www.it.northwestern.edu/identity-services/registry/schema.html", :popup => true, :class => "external_link icon_link"

  %h4
    = h @contact.to_s
  
  %dl
    - Ldap::ATTRIBUTES.each do |a|
      %dt
        = a
      %dd
        = null_safe(@ldap_record[a])

.links
  = link_to 'List Contacts', contacts_path, :class => "list_link icon_link" if current_user.permit?(:Admin, :User)
  = link_to 'Edit Client Record', edit_person_path(@contact.person), :class => "edit_link icon_link" if @contact.person