
:javascript
  function phs_organization_changed(el) {
    if(el.selectedIndex > 0) {
      $('#award_activity_code_id').attr('disabled', '');
      $('#award_non_phs_organization_id').attr('disabled', 'disabled');
    } else {
      $('#award_activity_code_id').val('');
      $('#award_activity_code_id').attr('disabled', 'disabled');
      $('#award_non_phs_organization_id').attr('disabled', '');
    }
  }
  
  function non_phs_organization_changed(el) {
    if(el.selectedIndex > 0) {
      $('#award_activity_code_id').val('');
      $('#award_activity_code_id').attr('disabled', 'disabled');
      $('#award_phs_organization_id').attr('disabled', 'disabled');
    } else {
      $('#award_activity_code_id').attr('disabled', '');
      $('#award_phs_organization_id').attr('disabled', '');
    }
  }
  
.span-9
  .award_section
    %p
      %b CTSA Award Information
    - unless faculty_member?
      %p
        = f.check_box "nucats_assisted"
        = f.label :nucats_assisted, "#{SYSTEM_CONFIG['grant_name']} Assisted"
    %p
      = f.check_box "ctsa_reportable"
      = f.label :ctsa_reportable, "#{ctsa_wording}"
    %p
      = f.label :ctsa_reporting_years, "CTSA Reporting Years"
      %br
      =h f.object.ctsa_reporting_years.blank? ? "n/a" : f.object.ctsa_reporting_years.join(",")
    %p
      = f.label :ctsa_award_type_award_number, "CTSA Award Number"
      %br
      =h f.object.ctsa_reportable.blank? ? "n/a" : f.object.ctsa_award_type_award_number
    %p
      = f.label :phs_organization_id, "PHS Organization"
      %br
      = f.select(:phs_organization_id, @phs_orgs.collect { |a| [ a.to_s, a.id ] }, { :include_blank => "-- Select Federal PHS Award Organizational Code --" } , { :disabled => @non_phs_orgs.map(&:id).include?(f.object.organization_id), :onchange => "phs_organization_changed(this);" }) 
    %p
      = f.label :activity_code_id, "Activity Code"
      %br
      = f.select(:activity_code_id, @activity_codes.collect { |a| [ a.to_s, a.id ] }, { :include_blank => "-- Select PHS Award --"}, { :disabled => f.object.activity_code_id.blank? }) 
    %p
      = f.label :non_phs_organization_id, "Non PHS Organization"
      %br
      = f.select(:non_phs_organization_id, @non_phs_orgs.collect { |a| [ a.to_s, a.id ] }, { :include_blank => "-- Select Federal Non-PHS Award --" }, { :disabled =>  @phs_orgs.map(&:id).include?(f.object.organization_id), :onchange => "non_phs_organization_changed(this);" }) 

  .award_section
    %p
      %b Project Information
    %p
      = f.label :formatted_project_period_start_date, "Project Period Start Date"
      %br
      = f.text_field :formatted_project_period_start_date, :class => "datepicker"
    %p
      = f.label :formatted_project_period_end_date, "Project Period End Date"
      %br
      = f.text_field :formatted_project_period_end_date, :class => "datepicker"
    %p
      = f.label :total_project_cost, "Total Project Cost"
      %br
      - f.object.total_project_cost = f.object.total_amount if f.object.total_project_cost.blank?
      = f.text_field :total_project_cost

.span-9.last
  .award_section_last
    %p
      %b Award Information
    %p
      = f.label :sponsor_name, "Sponsor"
      %br
      = f.text_field :sponsor_name
    %p
      = f.label :sponsor_award_number, "Sponsor Award Number"
      %br
      = f.text_field :sponsor_award_number
    %p 
      = f.label :grant_title, "Grant Title"
      %br
      = f.text_area :grant_title, :cols => 40, :rows => 2
    %p
      = f.label :budget_identifier, "Budget Number"
      %br
      = f.object.budget_identifier
    %p
      = f.label :grant_number, "Grant Number"
      %br
      = f.text_field :grant_number
    %p
      = f.label :grant_amount, "Grant Amount"
      %br
      = f.text_field :grant_amount
    %p
      = f.label :institution_number, "Institution Number"
      %br
      = f.text_field :institution_number
    %p
      = f.label :parent_institution_number, "Parent Institution Number"
      %br
      = f.text_field :parent_institution_number
    %p
      = f.label :subproject_number, "Subproject Number"
      %br
      = f.text_field :subproject_number
    %p
      = f.label :proposal_status, "Proposal Status"
      %br
      = f.text_field :proposal_status
    %p
      = f.label :award_status, "Award Status"
      %br
      = f.text_field :award_status

.buttons
  = hidden_field_tag :service_id, @service.id if @service
  = f.hidden_field :person_id
  = f.submit "Save", :class => "close"