%table.records
  %tr
    %th Edit
    %th NUCATS Assisted
    %th Organization
    %th Activity Code
    %th Sponsor
    %th Sponsor Award Number
    %th Grant Title
    %th Budget Number
    %th Project Start Date
    %th History
  - @awards.each do |award|
    %tr{ :class => cycle('even_record', 'odd_record') }
      %td= link_to "Edit", { :controller => "/awards", :action => "edit", :id => award, :search => params[:search], :person_id => @person.id }, { :class => "edit_modal_form_link edit_link icon_link", :onclick => "return edit_modal_form(this)" }
      %td= h award.nucats_assisted? ? "Yes" : "No"
      %td.ctsa_award= h award.organization.to_s
      %td.ctsa_award= h award.activity_code.to_s
      %td= h award.sponsor
      %td= h award.sponsor_award_number
      %td= h truncate(award.grant_title)
      %td= h h award.budget_number.blank? ? "" : award.budget_number.sub("NORTHWESTU00000", "")
      %td= h award.project_period_start_date
      %td= link_to 'View', versions_award_path(award), :class => "show_link icon_link"