- if @service
  #awards
    = link_to "Add New Award", { :controller => "/awards", :action => "new", :service_id => @service.id, :search => @search_params }, { :class => "edit_modal_form_link edit_modal_form_add_link add_link icon_link", :onclick => "return edit_modal_form(this)" }

    %h3 Awards for #{@person}

    - if @awards
      = render :partial => '/awards/service_awards_table'

- else
  #awards
    = link_to "Add New Award", { :controller => "/awards", :action => "new", :person_id => @person.id, :search => @search_params }, { :class => "edit_modal_form_link edit_modal_form_add_link add_link icon_link", :onclick => "return edit_modal_form(this)" }

    %h3 Awards for #{@person}

    - if @awards
      = render :partial => '/awards/awards_table'
      
    .links
      = link_to 'List', people_path, :class => "list_link icon_link" if current_user.permit?(:Admin, :User)
      = link_to 'Edit Person', edit_person_path(@person), :class => "edit_link icon_link"
      = link_to 'Edit Publications', person_publications_path(@person), :class => "edit_link icon_link"
