- title "Organizational Units"

- if @user_organizational_units
  %p
    #{@user_organizational_units.map(&:to_s).to_sentence}

- if @organizational_units.blank?
  %p.no_records
    No organizational units were found.
- else
  %table.records
    %tr
      %th= order @search, :by => :name, :as => "Name"
      %th= order @search, :by => :abbreviation, :as => "Abbreviation"
      %th Parent
      %th Number of Service Lines
      %th{:colspan => "2"}
    - @organizational_units.each do |organizational_unit|
      %tr{:class => cycle('even_record', 'odd_record')}
        %td= h organizational_unit.name
        %td= h organizational_unit.abbreviation
        %td= h organizational_unit.parent
        %td= h organizational_unit.service_lines.size
        %td
          - if @user_organizational_units.blank? or @user_organizational_units.include?(organizational_unit)
            = link_to 'Edit', edit_organizational_unit_path(organizational_unit), :class => "edit_link icon_link"
        %td
          - if (@user_organizational_units.blank? or @user_organizational_units.include?(organizational_unit)) and organizational_unit.service_lines.blank?
            = link_to 'Delete', organizational_unit, :confirm => 'Are you sure?', :method => :delete, :class => "delete_link icon_link"
.links
  = link_to 'New Organizational Unit', new_organizational_unit_path, :class => "add_link icon_link"
