<h1>Editing participating_organization</h1>

<% form_for(@participating_organization) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :country_id %><br />
    <%= f.text_field :country_id %>
  </p>
  <p>
    <%= f.label :us_state_id %><br />
    <%= f.text_field :us_state_id %>
  </p>
  <p>
    <%= f.label :reporting_year %><br />
    <%= f.text_field :reporting_year %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @participating_organization %> |
<%= link_to 'Back', participating_organizations_path %>