<h1>Listing participating_organizations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Country</th>
    <th>Us state is</th>
    <th>Reporting year</th>
  </tr>

<% @participating_organizations.each do |participating_organization| %>
  <tr>
    <td><%=h participating_organization.name %></td>
    <td><%=h participating_organization.city %></td>
    <td><%=h participating_organization.country_id %></td>
    <td><%=h participating_organization.us_state_id %></td>
    <td><%=h participating_organization.reporting_year %></td>
    <td><%= link_to 'Show', participating_organization %></td>
    <td><%= link_to 'Edit', edit_participating_organization_path(participating_organization) %></td>
    <td><%= link_to 'Delete', participating_organization, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New participating_organization', new_participating_organization_path %>