- title "CTSA Annual Report"

- form_tag :action => "ctsa_annual_report" do
  
  %p
    = label_tag :grant_number, "Grant Number"
    %br
    = text_field_tag :grant_number
  
  %p
    = label_tag :reporting_year, "Reporting Year"
    %br
    = text_field_tag :reporting_year
  
  .buttons
    = submit_tag "Generate Report"
