!!!

%html{ :xmlns =>"http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ "http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }
    %title= "clearcats :: " + h(yield(:title) || "Northwestern University")
    = stylesheet_link_tag('blueprint/screen')
    = stylesheet_link_tag('blueprint/print', :media => "print")
    = stylesheet_link_tag('application', :media => "all")
    = stylesheet_link_tag('jquery-ui-1.8.6.custom')
    = stylesheet_link_tag('ddsmoothmenu', 'ddsmoothmenu-v')
    = stylesheet_link_tag('ddsmoothmenu-images') if has_sub_uri?
    = yield :stylesheet
    = javascript_include_tag("application", "ddsmoothmenu", "jquery-1.4.2.min", "jquery-ui-1.8.6.custom.min", "jrails", "jquery.livequery", "jquery.tooltip.min")
    = yield :javascript
    = surveyor_includes if controller_name == "surveyor"
    = yield(:head)
    = render "shared/menu_init_script"
  %body
    .container
      #home
        = image_tag "clearcats-logo.png", :width => "40", :height => "60", :title => "clearcats", :class => "logo"
        = link_to("clearcats", "#{cc_prefix_path}/", :class => "no_link")
      
      #menu
        
      #header
        #banner
          = image_tag("banner_right.jpg", :class => "banner_right") 
          #fl
            = image_tag("banner_edge.jpg")
            = render "shared/menus"
            = image_tag("banner_edge.jpg")
          #menu2
            %span{:id => "logout_link"}
              = link_to "logout", "#{cc_prefix_path}/logout"
            = session[:name] || session_username
        #title
          - if show_title?
            %span= h(yield(:title))
      .clear

      #main
        - flash.each do |message_type, message|
          %div{ :class => "message", :id => message_type }
            - if message_type == :link_notice or message_type == :link_warning
              = message
            - else
              = h(message)
      
        = yield

      .clear
      #footer
        .branding
          #northwestern
            = link_to(image_tag("nu_logo_purple.jpg", options={:alt=>"Northwestern University", :width => 150, :height => 85}), "http://www.northwestern.edu")
          #nmh
            = link_to(image_tag("nm_hospital_logo.jpg", options={:alt=>"Northwestern Memorial Hospital", :width => 230, :height => 35}), "http://www.nmh.org")
          #feinberg
            = link_to(image_tag("feinberg_logo_large.jpg", options={:alt=>"Feinberg School of Medicine, Northwestern University", :width => 180, :height => 85}), "http://www.feinberg.northwestern.edu")
          #nucats
            = link_to(image_tag("nucats_logo_med.jpg", options={:alt=>"The Northwestern University Clinical and Translational Sciences Institute", :width => 250, :height => 50}), "http://www.nucats.northwestern.edu")
        .version
          = "v. " + application_version
