!!!

%html{ :xmlns =>"http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en" }
  %head
    %meta{ "http-equiv" => "content-type", :content => "text/html;charset=UTF-8" }
    %title= "clearcats :: " + h(yield(:title) || "Northwestern University")
    = stylesheet_link_tag('blueprint/screen')
    = stylesheet_link_tag('blueprint/print', :media => "print")
    = stylesheet_link_tag('application', :media => "all")
    = stylesheet_link_tag('ctsa_report', :media => "all")
    = javascript_include_tag("application")
  %body
    .container

      #main
        - flash.each do |message_type, message|
          %div{ :class => "message", :id => message_type }
            - if message_type == :link_notice or message_type == :link_warning
              = message
            - else
              = h(message)
      
        = yield

